@import "tailwindcss";

:root {
  --container-width: 1440px;
}
:root {
  --font-base: "Inter", system-ui, -apple-system, sans-serif;
}

body {
  font-family: var(--font-base);
}

.hero-container {
  width: 1366px;
  max-width: 90%;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 765px;
  column-gap: 24px;
}

.hero-left {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 24px;
}

.hero-left-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.hero-right {
  width: 765px;
  height: 554px;
}

.hero-item {
  position: relative;
  overflow: hidden;
}

.btn-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  padding: 24px;
  z-index: 3;
}

.hero-left {
  height: 554px;
}

.hero-left-top,
.hero-left-bottom .hero-item {
  height: 100%;
}

.placeholder {
  background-color: #e5e7eb;
  height: 156px;
}

.hero-item {
  border-radius: 16px;
  overflow: hidden;
}

.hero-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-item {
  position: relative;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  padding: 20px;
  padding-top: 40px;

  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: flex-start;

  color: #fff;
}
